:root {
  --black: #202124;
  --electric-indigo: #6600ff;
  --text-color: rgb(24,1,61);
  --bg-color: #f0f0f0;

  --light-gray: #dddddd;
  --gray: #aaaaaa;
  --extra-light-gray: #f5f5f5;

  --header-height: 60px;
  --footer-height: 130px;

  --player-controls-color: #dddddd;

  --shadow: rgba(170, 170, 170, 0.2) 0px 0px 10px 0px;
  --shadow-hover: rgba(102, 0, 255, 0.5) 0px 0px 10px 0px;

  @media screen and (min-width: 768px) {
    --header-height: 90px;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --electric-indigo: #5c00e6;
    --text-color: var(--gray);
    --bg-color: var(--black);

    --light-gray: #383a3f;
    --extra-light-gray: #2c2c32;

    --player-controls-color: var(--bg-color);
  }

  #__nuxt {
    background-color: var(--bg-color);
  }
}

html {
  font-family: 'Montserrat', sans-serif;
}

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--extra-light-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--electric-indigo);
}

svg {
  fill: currentColor;
}

.custom-player .audio-player {
  .audio__btn-wrap {
    min-height: 50px;
    justify-content: center;

    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  .audio__btn-wrap > div {
    margin-right: 1rem;
    margin-left: 0;
  }

  .audio__btn-wrap > div.audio__play-volume-icon-wrap {
    margin-right: 0;

    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
  }

  .audio__play-start,
  .audio__play-pause {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    @media screen and (min-width: 768px) {
      max-width: unset;
      width: unset;
    }
  }

  .audio__play-start:hover,
  .audio__play-pause:hover,
  .audio__play-start:focus-visible,
  .audio__play-pause:focus-visible {
    .play-button {
      color: var(--text-color);
      opacity: 0.8;
    }
  }

  .audio__play-start svg,
  .audio__play-pause svg {
    width: 60%;
    height: 60%;
  }

  .audio__progress-point:after {
    display: none;
  }

  .audio__play-volume-icon-wrap .audio__play-volume-wrap {
    background-color: var(--gray);
  }

  .audio__current-time,
  .audio__duration {
    color: var(--light-gray);
  }
}
